body {
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 30px;
}

.success {
    border: 2px solid brown;
    border-radius: 10px;
    color: cadetblue;
}

.error {
    border: 2px solid black;
    border-radius: 10px;
    color: crimson;
}